html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

/* section {
    flex-basis: 80%;
    scroll-snap-align: start center;
} */

.title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

p, .content, ul>li {
    font-family: 'Ubuntu', sans-serif;
}

/* #content-desktop {
} */
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    #content-desktop {display: none;}
    #content-mobile {display: block;}
}

.zigzag {
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
}

.gradientShadeGray {
    background: linear-gradient(-60deg, #000000, #232526, #414345, #232526, #000000);
    /* background: linear-gradient(-60deg, #434343, #000000, #434343); */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.gradientShadeRevealing {
    background: linear-gradient(-60deg,  #d5d0e5    , #f3e6e8, #d5d0e5   , #f3e6e8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.gradientShadeWhale {
    background: linear-gradient(-60deg, #6991c7, #a3bded, #6991c7, #a3bded  );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}