html {
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

p {
  line-height: 1.1;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.1;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.1;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.1;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
}

h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.1;
}

h6 {
  font-size: 10px;
  line-height: 1.1;
  font-weight: 700;
}

/* section {
    flex-basis: 80%;
    scroll-snap-align: start center;
} */

.title {
    font-family: 'IBM Plex Sans Thai', sans-serif;
}

p, .content, ul>li {
    font-family: 'Ubuntu', sans-serif;
}

.computer {
    font-family: 'Courier New', Courier, monospace;
}
/* #content-desktop {
} */
#content-mobile {display: none;}

@media screen and (max-width: 768px) {
    #content-desktop {display: none;}
    #content-mobile {display: block;}
}

.zigzag {
    background: 
    linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, black 25%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #232323;
}

.gradientShadeGray {
    background: linear-gradient(-60deg, #0000008c, #232526a9, #414345ab, #232526a2, #000000);
    /* background: linear-gradient(-60deg, #000000, #232526, #414345, #232526, #000000); */
    /* background: linear-gradient(-60deg, #434343, #000000, #434343); */
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.gradientShadeRevealing {
    background: linear-gradient(-60deg,  #d5d0e5, #f3e6e8, #d5d0e5, #f3e6e8);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.gradientShadeWhale {
    background: linear-gradient(-60deg, #6991c7, #a3bded, #6991c7, #a3bded  );
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.image1 {
    content: url("https://randomwordgenerator.com/img/picture-generator/52e4d7434f51a914f1dc8460962e33791c3ad6e04e5074417d2c7ed09f4acc_640.jpg")
  }

  .image2 {
    content: url("https://randomwordgenerator.com/img/picture-generator/55e8d146425bb10ff3d8992cc12c30771037dbf852547848702a7fd19545_640.jpg")
  }

  .image3 {
    content: url("https://randomwordgenerator.com/img/picture-generator/55e8d24b4257ac14f1dc8460962e33791c3ad6e04e507440752972d3924cc6_640.jpg")
  }

  .image4 {
    content: url("https://randomwordgenerator.com/img/picture-generator/55e0d44b4b56a414f1dc8460962e33791c3ad6e04e5074417c2d78d2954bcd_640.jpg")
  }

  .image5 {
    content: url("https://randomwordgenerator.com/img/picture-generator/5ee3dc414954b10ff3d8992cc12c30771037dbf85254794e732f7ad7934e_640.jpg")
  }


  /* tooltip */
  .tooltip {
    display: block !important;
    z-index: 10000;
  }
  
  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 16px;
    padding: 5px 10px 4px;
  }
  
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  
  .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .tooltip[x-placement^="right"] {
    margin-left: 5px;
  }
  
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
  }
  
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
  }
  
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }